.right-tool {
    position: absolute;
    width: 200px;
    right: 10px;
    top: 58px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 9;
}

.inputGroup {
    background-color: rgba(0, 0, 0, 0.05);
    color: #000;
    border-radius: 5px;
}