.canvas-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  background: #f8fafc;
}

.show-canvas-container {
  overflow: hidden;
  background: #f8fafc;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 25px;
  overflow: hidden;
  background: #fff;
  color: #171717;
  font-family: Instrument Sans;
  font-size: 12px;
  z-index: 999;
}

.info-left {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 14px;
  color: #fff;
  padding: 20px;
}

.info-right {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 14px;
  color: #fff;
  padding: 20px;
}


.bottom-tool {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 250px);
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  z-index: 9;
}

.bottom-tool-box {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 44px;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  border-radius: 5px;
}

.right-tool-view {
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  z-index: 9;
  color: #63727e;
  user-select: none;
}


@keyframes cloudAnimation {
  0% {
    filter: blur(0px);
    opacity: 0.5;
  }

  50% {
    filter: blur(10px);
    opacity: 0.7;
  }

  100% {
    filter: blur(0px);
    opacity: 0.5;
  }
}

.cloud-animation {
  animation: cloudAnimation 3s infinite ease-in-out;
}

/* Add this to your CSS file */
.transition-all {
  transition: all 0.3s ease-in-out;
}

.right-view-enter {
  opacity: 0;
  transform: translateX(100%);
}

.right-view-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.right-view-exit {
  transform: translateX(0);
}

.right-view-exit-active {
  transform: translateX(100%);
}