.top-view {
    position: absolute;
    z-index: 9;
    left: 64px;
    right: 0;
    top: 0;
    background: #fff;
    height: 46px;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}

.title {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
    color: #4c5863
}