@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Noto Sans';
    src: url('/public/fonts/static/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/public/fonts/static/NotoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*display 布局样式*/
.d_c_b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*display 布局样式*/
.d_c_c {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*display 布局样式*/
.d_c_c_c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.transition-all {
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

/* 针对Webkit内核浏览器 (如Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px;
    /* 设置滚动条宽度 */
    height: 8px;
    /* 设置水平滚动条高度 */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    /* 滚动条的颜色 */
    border-radius: 10px;
    /* 滚动条圆角 */
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
    /* 滚动条在鼠标悬停时的颜色 */
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    /* 滚动条轨道的颜色 */
    border-radius: 10px;
    /* 滚动条轨道圆角 */
}

/* 针对Firefox浏览器 */
html {
    scrollbar-width: thin;
    /* 设置滚动条宽度 */
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
    /* 设置滚动条颜色和轨道颜色 */
}

/* 针对IE 10+和Edge (旧版) */
body {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    font-family: 'Noto Sans', sans-serif;
    /* 自动隐藏滚动条 */
}